<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles/Login.css">
</head>
<body>
    <div class="main">
        <h1>Sign In</h1>

        <form action="/isloginE" method="post">
            <label for="username">
                Username:
            </label>
            <input type="text" id="username" name="username" 
                placeholder="Enter your Username" required>

            <label for="email">
                Email:
            </label>
            <input type="text" id="email" name="email" 
                placeholder="Enter your Email" required>

            <p style="width: 100%; font-size: small;" class="<%= inputIsValid ? "invalid_text" : "valid_test"  %>" >Username or Email in incorrect</p>

            <div class="wrap">
                <button type="submit">
                    Sign In
                </button>
            </div>
        </form>
        <div style="display: flex; flex-direction: column;">
        <p style="font-size: small; display: flex; justify-self: start;">Not registered?
            <a href="/SingUp" style="text-decoration: none;">
                Create an account
            </a>
        </p>
        <p style="font-size: small;display: flex; justify-self: start;">Forget email?
            <a href="/Login" style="text-decoration: none;">
                try with password
            </a>
        </p>
    </div>

    </div>
</body>
</html>